.back-board {
  background-color: #f9f9f9;
}
/* Some custom styles to beautify this example */
.main-content {
  min-height: 230px;
  background: #f9f9f9;
}
.sidebar-content {
  min-height: 230px;
}
.block {
  width: 20px;
  height: 1px;
  background: #e55d87;
  background: -moz-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
  background: -webkit-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
  background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
  margin-bottom: 50px;
}
